@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header{
    display: flex;
    font-family: 'Roboto', monospace;
    background-color:#224fb4;
    color: #fff;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.patrocinio a:hover{
    color: rgb(223, 223, 110);
    border-bottom: 1px solid rgb(223, 223, 110);
}
.bia a:hover{
    color: rgb(223, 223, 110);
    border-bottom: 1px solid rgb(223, 223, 110);
}

.premiacoes a:hover{
    color: rgb(223, 223, 110);
    border-bottom: 1px solid rgb(223, 223, 110);
}
.historia a:hover{
    color: rgb(223, 223, 110); 
    border-bottom: 1px solid rgb(223, 223, 110); 
}

.bia{
    font-weight: bold;
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    gap: 40px;
}



.biaheader{
    display:flex;
    width:100%;
    justify-content: center;
}
img{
    width: 100%;
}

.parte1, .parte2{
    font-family: 'Roboto', monospace;
}

h1{
    text-align: center;
    font-family: 'Roboto', monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    color: green;
}

ul{
    margin-left: 25px;
}
.texto{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    font-family: 'Roboto', monospace;
    color:#224fb4;
}

.imagens1{
    display: flex;
    height:400px;
    justify-content: space-around;
}

.imagens2{
    display:flex;
    height: 350px;
    justify-content: space-around;
    margin-bottom: 60px;
}

.parte1{
    flex-wrap: wrap;
   }
   .parte2{
    flex-wrap: wrap;
   }

footer{
    background-color: #224fb4;
    height: 90px;
    display: flex;
    justify-content: center;
}

.instalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', monospace;
    gap: 5px;
}

.icone{
    width: 40px;
height: 40px;
}

a{
    text-decoration: none;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


@media screen and (max-width: 1080px) {

    *{
        width:100%;
    }
    .imagens1, .imagens2{
        flex-direction: column;
        height: auto;
        width: 100%;
        flex-wrap: wrap;

    }

   
    .instalogo{
        justify-content: center;

    }

    .icone{
        justify-content: center;
        background-size: auto;
        
    }


   .ruacasa, .cidest{
    flex-direction: column;
   }
   form{
    width: 100%;
    padding-right: 40px;
    
   }
   .forms{
    padding: 0px;
    
}
 
}

@media screen and (max-width: 530px){
    .menu{
        flex-direction: column;
        gap: 5px;
    }

}

@media screen and (max-width: 700px){

 
    .rua input{
    
        width: 100%;
       }
    

}


.forms{
   
    font-family: 'Roboto';
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 20px;
    justify-content: center;

}

input, select{
    border-radius: 4px;
    padding: 8px;
}

.ruacasa, .cidest{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.rsocial, .cnpj, .ruacasa, .cidest, .rua{
    margin-bottom: 15px;
}

.rsocial input, .cnpj input{
    width: 100%;
}

.cidade input{
    display: flex;

}
